
html{
    font-family: sans-serif;
}

#kernel{
    padding: 5px;
    background-color: grey;
}

#leftSide{
    display: inline-block;
    width: 20%;
    height: 80vh;   
}

#tabs{
    height: 79vh;

}
#rightSide{
    display: inline-block;
    width: 79%;
    vertical-align: top;
    float: right;
}

.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select { font-size:10px; }
#textBox {
    width: 540px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    /*overflow: scroll;*/
}
#textBox #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
}
#editMode label { cursor: pointer; }

h3:before{
    content: none !important;
}

.ui-icon-close{
    cursor: pointer;
    float: right;
}