
html{
    font-family: sans-serif;
}

#leftSide{
    display: inline-block;
    width: 33%;
    height: 80vh;
}

#rightSide{
    display: inline-block;
    width:  66%;
    height: 80vh;
}

#accordion{
   height: fit-content;
   vertical-align: top;
}