
html{
    font-family: sans-serif;
}

#kernel{
    padding: 5px;
    background-color: grey;
}

#leftSide{
    display: inline-block;
    width: 20%;
    height: 80vh;   
}

#tabs{
    height: 79vh;

}
#rightSide{
    display: inline-block;
    width: 79%;
    vertical-align: top;
    float: right;
}